.contents
  .contents__header
    .contents__header__group
      .contents__header__group__name
        = @group.name 
      .contents__header__group__text
        - @group.users.each do |user|
          = user.name
    .contents__header__edit
      = link_to edit_group_path(@group), class:"name" do
        Edit
  .contents__message
    = render @messages
    
     
  .contents__from
    = form_for [@group, @message], html: {class: 'contents__from__box'} do |f|
      .contents__from__box__new
        = f.text_field :content, class: 'contents__from__box__new__text', placeholder: 'type a message'
        = f.label :image, class: 'contents__from__box__new__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'contents__from__box__new__image__file'
      = f.submit 'Send', class: 'contents__from__box__btn'


  