.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__left
        = current_user.name
      %ul.side-bar__header__box__right 
        %li.side-bar__header__box__edit-user
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.side-bar__header__box__new-group 
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')    
  .groups
    - current_user.groups.each do |group|  
      = link_to '#' do
        .groups__group__group_name            
          = group.name
        .groups__group__group_message 
          メッセージはまだありません。